.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-1-1);
    height: 5rem;
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    box-shadow: 0 -10rem 2.2rem 10rem  rgba(0, 0, 0, 0.1);
    z-index: 10;
    position: absolute;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

}