.main-section{
    position: relative;
    width: 100%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.192);
}

.main-section.-first{
    height: 100vh;
    
}

.main-section.-second{
    position: absolute;
    text-align: center;
    background-color: var(--color-1);
    z-index: -1;

}