.nav-list{
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-list .link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 100%;
}

.nav-list .link:hover{
    background-color: var(--color-1-press);
    font-size: 1.7rem;
}