.skill{
    display: grid;
    grid-template-columns: 10rem 20rem;
    grid-template-rows: repeat(2, 5rem);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 10rem;
    align-items: center;
    margin-bottom: 5rem;
}

.skill .logo{
    grid-row: span 2;
    text-align: center;
}

.skill .subtitle{
    padding-left: 2rem;
    font-size: 5rem;
    font-weight: 300;

}

.skill .progress-bar{
    margin-left: 2rem;
    height: .5rem;
    width: 20rem;
    background-color: var(--color-1-button);
    box-shadow: inset 0 0 .5rem rgba(0, 0, 0, 0.3);
}

.skill .progress-bar .snow{
    position: relative;
    background-color: white;
    height: 100%;
}

.skill .progress-bar .snow::before{
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #9f3de0, #870dd9, #6c0aad, #870dd9, #9f3de0);
    background-size: 500%;
    animation: AnimarLoader 5s linear infinite;
}

.skill .progress-bar .snow::after{
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg,#9f3de0, #870dd9, #6c0aad, #870dd9, #9f3de0);
    background-size: 500%;
    animation: AnimarLoader 5s linear infinite;
    filter: blur(15px);

}

@keyframes AnimarLoader {
    0%{
        background-position: 0 0;
    }
    0%{
        background-position: 500% 0;
    }
}

.skill:nth-child(1) .progress-bar .snow{
    width: 90%;
}

.skill:nth-child(2) .progress-bar .snow{
    width: 5%;
}

.skill:nth-child(3) .progress-bar .snow{
    width: 50%;
}

.skill:nth-child(4) .progress-bar .snow{
    width: 60%;
}
