.switch-button{
    opacity: 0;
    position: absolute;
    left: -900000px;
    top: -900000px;
    cursor: pointer;
}

.switch-button + label{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.switch-button + label::after{
    position: absolute;
    
    left: .1rem;
    content: '';
    width: 2.3rem;
    height: 2.3rem;
    background-image: url(../../../images/brazil-.png);
    background-size: contain;
    border-radius: 1.15rem;
    transition: all 300ms ease-in-out;
}

.switch-button + label::before{
    content: '';
    width: 5rem;
    height: 2.5rem;
    background-color: var(--color-1);
    border-radius: 1.25rem;
}

.switch-button:checked + label::after{
    transform: translateX(2.5rem);
    background-image: url(../../../images/united-states.png);
    background-size: contain;
}


.switch-button:checked + label{
 
}